# Native Linux environment file, chmod 600; no export statements.
# Obtain values from the physical node's LOCAL deploy/config_v3.cmd.
PERIMETER_HA_TOKEN=CHANGE_TO_THE_SAME_LONG_RANDOM_TOKEN_ON_ALL_THREE_NODES
PERIMETER_HA_SQL="DRIVER={ODBC Driver 18 for SQL Server};SERVER=SQL_SERVER;DATABASE=1CTgSend;UID=HA_USER;PWD=LOCAL_SECRET;Encrypt=yes;TrustServerCertificate=yes;"
RFID_DB_CONNECTION="DRIVER={ODBC Driver 18 for SQL Server};SERVER=SQL_SERVER;DATABASE=1CTgSend;UID=WRITER_USER;PWD=LOCAL_SECRET;Encrypt=yes;TrustServerCertificate=yes;"
KPP_CONN_STR="DRIVER={ODBC Driver 18 for SQL Server};SERVER=SQL_SERVER;DATABASE=1CTgSend;UID=WRITER_USER;PWD=LOCAL_SECRET;Encrypt=yes;TrustServerCertificate=yes;"
KPP_WEB_DB_CONNECTION="DRIVER={ODBC Driver 18 for SQL Server};SERVER=SQL_SERVER;DATABASE=1CTgSend;UID=WRITER_USER;PWD=LOCAL_SECRET;Encrypt=yes;TrustServerCertificate=yes;"
SRC_SERVER=srv-rg.mkm.lan
SRC_DATABASE=RusGuardDB
SRC_USERNAME=LOCAL_SOURCE_USER
SRC_PASSWORD=LOCAL_SOURCE_SECRET
SRC_DRIVER="ODBC Driver 18 for SQL Server"
DST_SERVER=SQL_SERVER
DST_DATABASE=1CTgSend
DST_USERNAME=LOCAL_WRITER_USER
DST_PASSWORD=LOCAL_WRITER_SECRET
DST_DRIVER="ODBC Driver 18 for SQL Server"
RFID_READER_IP=172.31.128.170
RFID_READER_PORT=8888
RFID_RTSP_0=rtsp://LOCAL_USER:LOCAL_SECRET@10.192.2.11:554/Streaming/Channels/101
RFID_RTSP_1=rtsp://LOCAL_USER:LOCAL_SECRET@10.192.2.12:554/Streaming/Channels/101
KPP_WEB_AUTH_USER=LOCAL_WEB_USER
KPP_WEB_AUTH_PASSWORD=LOCAL_WEB_SECRET
